---
import BlogPost from './BlogPost.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
    posts: CollectionEntry<'blog'>[];
    currentCategory?: string;
}

const { posts } = Astro.props;
---

<section class="site-container mx-auto px-4 py-base">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {
            posts.map((post, index) => (
                <div>
                    <BlogPost
                        title={post.data.title}
                        excerpt={post.data.excerpt}
                        featuredImage={post.data.featuredImage || ''}
                        publishDate={post.data.publishDate}
                        categories={post.data.categories || []}
                        slug={post.id}
                        index={index}
                    />
                </div>
            ))
        }
    </div>

    {posts.length === 0 && <p class="text-center text-gray-500 py-8">No hay publicaciones en esta categoría.</p>}
</section>
