---
import Button from "@components/ui/Button.astro";
import Input from "@components/ui/form/Input.astro";
import Textarea from "@components/ui/form/Textarea.astro";
import Radio from "@components/ui/form/Radio.astro";
import Checkbox from "@components/ui/form/Checkbox.astro";

const hearAboutOptions = [
    { label: "Motor de búsqueda", value: "search" },
    { label: "Redes sociales", value: "social" },
    { label: "Amigo o conocido", value: "referral" },
    { label: "Otro", value: "other" }
];

const formBackground = 'light';
---
<form class="space-y-6 bg-white p-6 rounded-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <Input
        label="Nombre"
        id="name"
        name="name"
        required
        background={formBackground}
        />
        <Input
        label="Correo electrónico"
        type="email"
        id="email"
        name="email"
        required
        background={formBackground}
        />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <Input
        label="Teléfono"
        type="tel"
        id="phone"
        name="phone"
        background={formBackground}
    />
    <Input
        label="Institución u Organización"
        id="company"
        name="company"
        background={formBackground}
    />
    </div>

    <Radio
        label="¿Cómo nos conociste?"
        id="hear-about"
        name="hear-about"
        options={hearAboutOptions}
        required
        background={formBackground}
    />

    <Textarea
        label="Mensaje"
        id="message"
        name="message"
        required
        background={formBackground}
    />

    <Checkbox
        label="Acepto los términos y condiciones"
        id="terms"
        name="terms"
        required
        background={formBackground}
    />

    <div class="mt-6">
        <Button>Enviar</Button>
    </div>
</form>
